<% provide :current_page, 'about' %>
<section class="section">
  <div class="container">
    <h1 class="title is-hidden-desktop">このサイトについて</h1>
    <section class="section">
      <div class="box about-box">
        <div class="subtitle is-3">できること</div>
        <hr>
        <div>
          ① 自分のキモチを文字や色で表現することで、今の自分と向き合えます。<br><br>
          ② 過去に表現したキモチを一覧することで、過去を振り返り、未来を考えるきっかけになります。<br>
        </div>
      </div>
      <div class="box">
        <div class="subtitle is-3">使い方</div>
        <hr>
        <div>
          ① 「キモチと向き合う」で今の自分のキモチを表現します。<br><br>
          ② 「キモチを懐かしむ」で過去に表現したキモチを一覧できます。<br>
          　　※キモチはランダムに表示されます。<br>
        </div>
      </div>
      <div class="box has-background-danger has-text-white-bis">
        <div class="subtitle is-3 has-text-white-bis">注意</div>
        <hr>
        <div>
          保存されたデータが断りなく消去されることがあります。<br>
          予めご了承ください。
        </div>
      </div>
    </section>
  </div>
</section>

