<section class="section">
  <div class="container">
    <h1 class="title">このサイトについて</h1>
    <section class="section">
      <div class="box">
        <div class="subtitle is-4" style="margin-bottom: 0.5rem">できること</div>
        <hr>
        <div>
          ないようあああああああああああああああああ。<br>
          ｆｄｓふぁｓｆだ<br>
          ｆｄｓｓ。<br>
        </div>
      </div>
      <div class="box">
        <div class="subtitle is-4" style="margin-bottom: 0.5rem">使い方</div>
        <hr>
        <div>
          ないようあああああああああああああああああ。<br>
          ｆｄｓふぁｓｆだ<br>
          ｆｄｓｓ。<br>
        </div>
      </div>
      <div class="box has-background-danger has-text-white-bis">
        <div class="subtitle is-4 has-text-white-bis" style="margin-bottom: 0.5rem">注意</div>
        <hr>
        <div>
          保存されたデータが断りなく消去されることがあります。<br>
          予めご了承ください。
        </div>
      </div>
    </section>
  </div>
</section>