<section class="hero is-fullheight-with-navbar">
  <div class="hero-body home-hero">
    <div class="container">
      <h1 style="text-shadow: 4px 4px 2px #2E2F30" class="title has-text-white is-size-2">
        あなたの中にあるもやもやしたキモチ、<br>
        カタチしてみませんか？
      </h1>
      <% unless user_signed_in? %>
        <a href="<%= new_user_registration_path %>"
          class="button has-icons-left is-large is-rounded is-primary is-pulled-right">
          <span class="icon">
            <i class="fas fa-user-plus"></i>
          </span>
          <span>新規登録</span>
        </a>
        <br><br><br>
        <a href="<%= new_user_session_path %>" class="button has-icons-left is-large is-rounded is-white is-pulled-right">
          <span class="icon">
            <i class="fas fa-hand-holding-heart"></i>
          </span>
          <span>ログイン</span>
        </a>
      <% end %>
    </div>
  </div>
</section>