<section class="hero is-fullheight-with-navbar">
  <div class="hero-body home-hero">
    <div class="container">
      <h1 class="title has-text-white is-size-1">
        あなたのキモチ、カタチしてみませんか？
      </h1>
      <a href="<%= new_user_path %>", class="button has-icons-left is-large is-rounded is-white is-pulled-right">
        <span class="icon">
          <i class="fas fa-user-plus"></i>
        </span>
        <span>新規登録</span>
      </a>
    </div>
  </div>
</section>